!!!
.html
  .head
    %title
      chat-space
  .body
    .left_content
      = link_to edit_user_registration_path do
        %i.fa.fa-cog
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o.user__icon
      .user
        %p.user__name
          - if user_signed_in?
            = current_user.name

      .left_content_chat
        %ul
          %li
            %p.left_content_chat__name
              ユーザー1
            %p.left_content_chat__talk
              メッセージ1
          %li
            %p.left_content_chat__name
              ユーザー2
            %p.left_content_chat__talk
              メッセージ2
          %li
            %p.left_content_chat__name
              ユーザー3
            %p.left_content_chat__talk
              メッセージ3


    .right_content
      .top_content
        = link_to 'Edit', "/groups/:id/edit", class: "edit_chat"
        %p.name
          グループ名
        %p.member_name
          member :ユーザー
      .center_content
        %ul
          %li
            %p.name
              ユーザー名
            %p.comment
              おはよう!!
        %ul
          %li
            %p.name
              ユーザー名
            %p.comment
              こんにちは!!
      .format
        %input.format__input{class: 'submit', type: 'text',placeholder: "Type a message"}

        %i.fa.fa-file-image-o.format__icon
          = link_to "", "", type: "file", name: "image", class: "icon_tag"

        %button.format__button{ type: "submit"}Send
