!!!
.html
  .head
    %title
      chat-space
  .body
    = render partial: "/groups/sidebar", locals: { groups: @groups }

    .right_content
      .top_content
        = link_to 'Edit',"/groups/1/edit", class: "edit_chat"
        %p.name
          グループ名
        %p.member_name
          member :ユーザー
      .center_content
        %ul
          %li
            %p.name
              ユーザー名
            %p.comment
              おはよう!!
        %ul
          %li
            %p.name
              ユーザー名
            %p.comments
              こんにちは!!
      .format
        = form_for @message , url: group_messages_path do |f|
          .field-label
            = f.text_field :body, pleceholder: "Type a message", class: "field-label__input"
            = f.file_field :image, class: "field-label__input__icon"
            = fa_icon "picture-o", class: "field-label__input__icon__icong"
          .field-submit
            = f.submit "Send", class: "field-submit__botton"
