.left_content
  = link_to edit_user_registration_path do
    %i.fa.fa-cog
  = link_to new_group_path do
    %i.fa.fa-pencil-square-o.user__icon
  .user
    %p.user__name
      - if user_signed_in?
        = current_user.name

  .left_content_chat
    - groups.each do |group|
      %ul
        %li
          %p.chat-group
            = group.name
          %p.chat-message
            - if group.messages.present?
              = group.messages.last.body
            - else
              まだメッセージが投稿されていません。
